:root {
  font-size: 62.5%;

  --text-color: #333333;
  --logo-text-color: #e9e9e9;

  --logo-width: 37%;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

@font-face {
  font-family: "Source Sans Pro";
  src: url("./font/SourceSansPro-Bold.woff2") format("woff2"),
    url("./font/SourceSansPro-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Source Sans Pro";
  src: url("./font/SourceSansPro-Regular.woff2") format("woff2"),
    url("./font/SourceSansPro-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Norse";
  src: url("./font/Norse-Bold.woff2") format("woff2"),
    url("./font/Norse-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

body {
  font-size: 1.6rem;
  margin: 0;

  display: flex;
  min-height: 100vh;
}

/* Heading Logo Section */
.logo-section {
  background: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.01)),
    url("./assets/degleex-ganzorig-wQImoykAwGs-unsplash.jpg");
  background-size: cover;
  background-position-x: center;

  width: var(--logo-width);

  display: flex;
  flex-direction: column;

  box-shadow: 0px 5px 50px 1px rgba(0, 0, 0, 0.193);
}

.logo-section p {
  color: var(--logo-text-color);
}

.logo-container {
  height: 96%;
  align-content: center;
}

.logo-img {
  display: flex;
  justify-content: center;
  align-items: center;

  background-color: rgba(148, 172, 156, 0.241);
  height: 20vh;
}

.logo-img img {
  width: 10rem;
  position: relative;
  bottom: 0.4rem;
}

.logo-img img + p {
  font-family: "Norse", system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 10rem;
  padding-top: 2rem;
}

.image-credit {
  display: flex;
  align-content: center;
  justify-content: center;

  height: 2rem;

  --greyish: #9e9e9e;
}

.image-credit a:any-link {
  color: var(--logo-text-color);
}

.image-credit a:visited {
  color: var(--greyish);
  text-decoration: none;
}

.image-credit a:hover,
.image-credit a:focus {
  text-decoration: none;
}

.image-credit a:focus:visited {
  outline: 1px solid var(--greyish);
}

.image-credit a:focus {
  outline: 1px solid var(--logo-text-color);
  border-radius: 2px;
}

.image-credit a:active {
  color: var(--text-color);
}

/* Main Form Section */

main {
  width: calc(100vw - var(--logo-width));
  --bg-color-field: #f0f0f0;
  --dark-green-rgb: 4, 63, 13;
  --light-green-rgb: 0, 210, 0;

  display: flex;
  flex-direction: column;

  background-color: #f9f9f9;
  --headline-height: 34vh;

  font-family: "Source Sans Pro", "Franklin Gothic Medium", "Arial Narrow",
    Arial, sans-serif;
  color: var(--text-color);
}

.head-line,
fieldset {
  padding-left: 5rem;
}

.head-line {
  font-size: 2.4rem;
  font-weight: bold;

  height: var(--headline-height);

  align-content: center;
}

.head-line p {
  line-height: 1.5;
}

.form-section {
  height: calc(100vh - var(--headline-height) - 5rem);

  --invalid-color: #8e1717;
}

fieldset,
fieldset p {
  display: flex;
  flex-direction: column;
}

fieldset {
  border: none;
  background-color: #fdfdfd;
  box-shadow: 0 3px 10px 5px rgba(0, 0, 0, 0.1);
  position: relative;
  padding-top: 4rem;

  height: 30vh;

  flex-wrap: wrap;
}

fieldset legend {
  position: absolute;
  top: 1rem;

  font-size: 2rem;
  font-weight: bold;
}

fieldset p {
  justify-content: center;
  position: relative;

  padding-right: max(3rem, 3vw);
  margin: 1rem 0;
  height: 33%;

  --invalid-color: rgba(199, 0, 0, 0.776);
}

fieldset label {
  width: 30ch;
  padding-left: 0.1em;
  margin-bottom: 0.3em;

  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 0.3ch;
  font-size: 80%;
}

input {
  font-family: inherit;
  font-size: inherit;

  padding: 0 1ch;
  width: 100%;
  height: 2.4em;

  border: 1px solid rgb(var(--dark-green-rgb));
  border-radius: 3px;
}

input::placeholder {
  opacity: 0.5;
}

input:user-invalid {
  color: var(--invalid-color);
}

input:focus {
  border: 1px solid rgba(var(--light-green-rgb), 0.8);
  border-radius: 3px;
  outline: none;
}

input:user-valid ~ span::before {
  content: "✓";
  position: absolute;
  left: -1em;
  bottom: 1em;
  color: rgb(var(--dark-green-rgb));
  font-size: 120%;
}

input:user-invalid ~ span::after {
  content: "Only alphabets are allowed";
  position: absolute;
  bottom: -0.5em;
  right: min(3.4em, 3vw);
  padding: 0 1ch;
  color: var(--invalid-color);
  font-size: 80%;
  border-radius: 2px;
}

input[type="email"]:user-invalid ~ span::after {
  content: "Please follow email format";
}

input[type="tel"]:user-invalid ~ span::after {
  content: "Only numbers are allowed";
}

input[type="password"]:user-invalid ~ span::after {
  content: "min of 8 characters long";
}

input:user-invalid:not(:focus) {
  border: 1px solid var(--invalid-color);
}

label:has(~ input:user-invalid:not(:focus)) {
  opacity: 0.5;
}

button {
  margin-top: 1.5em;
  margin-left: 4em;
  padding: 0.5em 4em;
  font-size: 1.6rem;
  line-height: 1.5;

  background-color: rgb(var(--dark-green-rgb), 0.8);
  border: 1px solid rgba(var(--light-green-rgb), 0.664);
  border-radius: 5px;
  color: var(--logo-text-color);
  box-shadow: 2px 3px 10px 3px rgba(var(--dark-green-rgb), 0.1);
}

button:hover,
button:focus {
  background-color: rgb(var(--dark-green-rgb), 0.05);

  color: var(--text-color);
  border-color: rgb(var(--light-green-rgb));
}

button:active {
  position: relative;
  top: 2px;
  left: 1px;
  box-shadow: 1px 2px 8px 1px rgba(var(--dark-green-rgb), 0.1);
  background-color: rgba(var(--dark-green-rgb), 0.08);
}

.login-link {
  margin-top: 1em;
  padding-left: 4.2em;
}

.login-link a {
  color: rgba(var(--dark-green-rgb), 0.6);
}

.login-link a:hover,
.login-link a:focus {
  text-decoration: none;
}

.login-link a:active {
  color: rgba(var(--dark-green-rgb));
}

.login-link a:visited {
  text-decoration: none;
}
